@import "variables";
@import "layout";

.app-title{
  font-size: 16px;
  margin-top: 0;
}

.react-datepicker-wrapper{
  display: flex;
  align-items: center;
  input{
    cursor: pointer;
    font-family: inherit;
    background: transparent;
    color: $theme-4;
    border: 1px solid $theme-4;
    padding: 5px 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 2px;
  }
}
.react-datepicker{
  font-family: inherit!important;
  &__header{
    background-color: $theme-2!important;
  }
  &__current-month{
    color: $theme-1!important;
  }
  &__day-name{
    color: $theme-1!important;
  }
  &-time__header{
    color: $theme-1!important;
  }
  &__navigation-icon{
    &::before{
      border-color: $theme-1!important;
    }
  }
  &__triangle{
    &::before{
      border-bottom-color: $theme-2!important;
    }
    &::after{
      border-bottom-color: $theme-2!important;
    }
  }
  &__day--selected{
    background-color: $theme-2!important;
  }
  &__time-list-item--selected{
    background-color: $theme-2!important;
  }
}

.recharts-responsive-container{
  height: 90% !important;
  .recharts-layer{
    path{
      fill-opacity: 1!important;
    }
  }
}

.Toastify{
  &__toast{
    font-family: inherit!important;
    font-size: 12px!important;
    text-align: left;
    min-height: unset!important;
  }
  &__progress-bar--warning{
    background-color: $theme-3!important;
  }
  &__toast-icon{
    svg{
      fill: $theme-3;
    }
  }
}


@media screen and (max-width: $width-medium-min){
  .react-datepicker-wrapper{
    input{
      font-size: 14px;
      padding: 2px 10px;
      text-align: center;
    }
  }
  .recharts-responsive-container{
    height: 100% !important;
  }
}