@import "../assets/variables";

@mixin text-border-2xp-theme4{
  text-shadow: -2px 0 $theme-4, 0 2px $theme-4, 2px 0 $theme-4, 0 -2px $theme-4;
}


@mixin text-border-3xp-theme4{
  text-shadow: -3px 0 $theme-4, 0 3px $theme-4, 3px 0 $theme-4, 0 -3px $theme-4;
}

@mixin text-border-2xp-theme3{
  text-shadow: -2px 0 $theme-3, 0 2px $theme-3, 2px 0 $theme-3, 0 -2px $theme-3
}

@mixin text-border-3xp-theme3{
  text-shadow: -3px 0 $theme-3, 0 3px $theme-3, 3px 0 $theme-3, 0 -3px $theme-3;
}

@mixin text-border-2xp-white{
  text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff;
}

@mixin text-border-3xp-white{
  text-shadow: -3px 0 #fff, 0 3px #fff, 3px 0 #fff, 0 -3px #fff;
}

@mixin pageLoadAnimation{
  animation: pageLoad 1.5s
}
@keyframes pageLoad{
  0% {
    left: -50%
  }
  60%{
    left: 50px
  }
  100%{
    left: 0
  }
}

@mixin blueGradient{
  background: rgb(0,41,107);
  background: linear-gradient(180deg, rgba(0,41,107,1) 0%, rgba(0,63,136,1) 54%, rgba(0,80,157,1) 97%);
}