$white: #fff;
$smoke: #e5e4e4fa;

$palette-1: #EEEEEE;
$palette-2: #787A91;
$palette-3: #f27a1a;
$palette-4: #141E61;

$dark-palette-1: #050A30;
$dark-palette-2: #000C66;
$dark-palette-3: #0000FF;
$dark-palette-4: #7EC8E3;

$theme-1: $palette-1;
$theme-2: $palette-2;
$theme-3: $palette-3;
$theme-4: $palette-4;

