$palette-1-1: #0b3954;
$palette-1-2: #ff5a5f;
$palette-1-3: #087e8b;
$palette-1-4: #c81d25;
$palette-1-5: #bfd7ea;

$palette-2-1: #62246b;
$palette-2-2: #1dd3b0;
$palette-2-3: #b2ff9e;
$palette-2-4: #affc41;
$palette-2-5: #086375;

$palette-3-1: #050A30;
$palette-3-2: #000C66;
$palette-3-3: #0000FF;
$palette-3-4: #7EC8E3;

$theme-1: $palette-3-1;
$theme-2: $palette-3-2;
$theme-3: $palette-3-3;
$theme-4: $palette-3-4;
