@import "src/assets/layout";

.SearchFilters{
  position: relative;
  display: flex;
  align-items: flex-end;

  &_TimePicker{
    flex: 1;
    &:nth-child(2){
      padding-left: 10px;
    }
    &_Title{
      font: inherit;
      font-size: 14px;
      font-weight: 300;
      margin: 0;
      text-align: start;
    }
  }
  &_TimePickerWrapper{
    display: flex;
    justify-content: space-around;
    flex: 2;
  }
  &_ClearButtonWrapper, &_SubmitButtonWrapper{
    flex: 1;
    padding-left: 10px;
  }
}

@media screen and (max-width: $width-medium-min){
  .SearchFilters{
    flex-direction: column;
    margin: 0;
    font-size: 14px;
    &_TimePicker{
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      &:nth-child(2){
        padding-left: 0!important;
      }
      p{
        width: 150px;
        font-size: 16px;
        &::after {
          content: " : ";
        }
      }

    }
    &_TimePickerWrapper{
      flex-direction: column;
      width: 100%;
    }
    &_ClearButtonWrapper{
      padding-left: 0;
      margin-top: 10px;
      width: 100%;
      margin-bottom: 10px;
    }
    &_SubmitButtonWrapper{
      padding-left: 0;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}