@import "src/assets/variables";
@import "src/assets/layout";

.FilePresenter{
  position: relative;
  display: flex;
  p{
    font-size: 14px;
    margin: 2px 10px 2px 0;
  }
  &_iniatorType, &_name, &_responseEnd{
    display: flex;
  }
  &_iniatorType{
    p{
      font-weight: 900;
    }
  }
  &_name{
    p{
      font-weight: 200;
    }
  }
  &_responseEnd{
    p{
      font-weight: 900;
    }
  }
}

@media screen and (max-width: $width-small-min){
  .FilePresenter{
    flex-direction: column;
    border-left: 3px solid $theme-4;
    padding: 3px;
    border-radius: 2px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}