@import "src/assets/layout";
@import "src/assets/utilities";

.Header{
  display: flex;
  justify-content: center;

  &_ItemsWrapper{
    width: fit-content;
    margin: 25px 0 50px;
    &_Header{
      color: $theme-3;
      font-size: 45px;
      @include text-border-3xp-theme4;
    }
    &_SubHeader{
      font-size: 15px;
      text-align: start;
      margin-top: -16px!important;
    }
  }
  h1, p{
    margin: 0;
  }

}

@media screen and (max-width: $width-medium-min){
 .Header{
   margin-bottom: 15px;
   h1{
     font-size: 34px;
     line-height: 26px!important;
     text-align: left;
   }
   p{
     font-size: 9px;
     margin-top: 0px!important;
   }
   &_ItemsWrapper{
     margin: 10px 0!important;
   }
 }
}