@import "../../assets/variables";
@import "../../assets/utilities";
@import "../../assets/layout";

.SourceList{
  position: relative;
  width: 100%;

  text-align: left;
  &_ItemWrapper{
    max-height: 60vh;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &::-webkit-scrollbar{
      width: 10px
    }

    &::-webkit-scrollbar-thumb{
      background-color: $theme-4;
      border-radius: 6px;

    }
    p{
      margin-top: 0;
      text-align: start;
      font-size: 14px;
    }
    button{
      font-weight: 300;
      font-size: 12px;
      width: fit-content;
    }
    &_Item{
      position: relative;
    }
  }
  &_Title{
    text-align: start;
    border-bottom: 1px solid $theme-4;
    font-size: 16px;
    font-weight: 900;
    margin-top: 0;
  }
  &_ItemTitle{
    text-align: start;
    margin-bottom: 10px;
    border-bottom: 1px solid $theme-4;
    width: fit-content;
    font-size: 16px!important;
    &_Container{
      width: 49%;

      border-left: 6px solid $theme-3;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      padding-left: 5px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: $width-medium-min){
  .SourceList{
    &_Title{
      font-size: 14px;
    }
    &_ItemTitle{
      font-size: 14px!important;
      font-weight: 700;
    }
    &_ItemWrapper{
      p{
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: $width-xxlarge-min){
  .SourceList{
    &_ItemTitle{
      &_Container{
        margin-bottom: 15px!important;
        width: 100%!important;
      }
    }
  }
}