@import "../../assets/variables";
@import "../../assets/utilities";
@import "../../assets/layout";

.SourceList{
  position: relative;
  width: 100%;

  text-align: left;
  &_ItemWrapper{
    max-height: 60vh;
    overflow: auto;
    &::-webkit-scrollbar{
      width: 6px
    }

    &::-webkit-scrollbar-track{
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 20px $theme-4
    }

    &::-webkit-scrollbar-thumb{
      background-color: $theme-3;
      border-radius: 6px;

    }
    p{
      text-align: start;
      font-size: 14px;
    }
    button{
      font-weight: 300;
      font-size: 12px;
      width: fit-content;
    }
    &_Item{
      position: relative;
    }
  }
  &_Title{
    text-align: start;
    border-bottom: 1px solid $theme-4;
    font-size: 16px;
    font-weight: 900;
    margin-top: 0;
  }
  &_ItemTitle{
    text-align: start;
    margin-bottom: 0;
  }
}

@media screen and (max-width: $width-small-min){
  .SourceList{
    &_Title{
      font-size: 14px;
    }
    &_ItemTitle{
      font-size: 14px!important;
      font-weight: 700;
    }
    &_ItemWrapper{
      p{
        font-size: 12px;
      }
    }
  }
}